<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <b>Original URL</b>
  <%= @url.original_url %>
</p>

<p>
  <b>Squeezed URL:</b>
  <%= format_squeezed_url_for_display(@site_url, @url) %>
</p>
